# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Archivos de caché grandes
*.ipch
*.pch
*.idb

# Carpetas de compilación
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# Archivos compilados
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.recipe

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de respaldo
*~
*.swp
*.bak
*.tmp